<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>{{message}}</div>

        <span v-bind:title="tip">
            鼠标悬停几秒查看信息
        </span>
        <div>
            <ol>
                <li v-for="(todo,index) in todos">
                    {{ todo.text }}
                </li>
                <todo-item v-for="(todo,key,index) in todos" v-bind:todo="todo" v-bind:key="index"></todo-item>
            </ol>
        </div>
        <button v-on:click="showTip">反转</button>
        <input type="text" v-model="message">
    </div>

    <script>
        Vue.component('todo-item',{
            props:['todo'],
            template:'<li>{{todo.text}}</li>'
        });
        var app = new Vue({
            el:"#app",
            data:{
                message:"hello world",
                tip:'页面加载于' + new Date().toISOString(),
                todos:[
                    {"text":"学习javascript"},
                    {"text":"学习vue"},
                    {"text":"整个项目"}
                ]
            },
            methods:{
                showTip:function(){
                    this.message = this.message.split("").reverse().join("");
                }
            }
        });

    </script>
</body>

</html>