<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.NoteBookLogDao">
	<!-- NoteBookLog的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_NoteBookLog_Map" type="com.anywhere.note.entity.NoteBookLog">
		<id column="id" property="id" />
		<result column="action_id" property="actionId" />
		<result column="user_id" property="userId" />
		<result column="content" property="content" />
		<result column="result" property="result" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>