<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anywhere.note.dao.NoteNoteMapper">
	<!-- NoteNote的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_NoteNote_Map" type="com.anywhere.note.entity.NoteNote">
		<id column="note_id" property="noteId" />
		<result column="title" property="title" />
		<result column="book_id" property="bookId" />
		<result column="user_id" property="userId" />
		<result column="markdown_content" property="markdownContent" />
		<result column="html_content" property="htmlContent" />
		<result column="data_version" property="dataVersion" />
	</resultMap>


</mapper>